USE [master]
GO
/****** Object:  Database [medvedeva_vy_cosmetic]    Script Date: 22.01.2026 11:17:52 ******/
CREATE DATABASE [medvedeva_vy_cosmetic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'medvedeva_vy_cosmetic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VIKA\MSSQL\DATA\medvedeva_vy_cosmetic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'medvedeva_vy_cosmetic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VIKA\MSSQL\DATA\medvedeva_vy_cosmetic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [medvedeva_vy_cosmetic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [medvedeva_vy_cosmetic]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[IdManufacturer] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[IdManufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[IdOffice] [int] IDENTITY(1,1) NOT NULL,
	[OfficeAddress] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[IdOffice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderDeliveryDate] [date] NOT NULL,
	[OfficeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[IdOrderProduct] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[IdOrderProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[IdOrderStatus] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[UnitOfMeasureId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[MaxProductDiscountAmount] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[ProductQuantityInStock] [int] NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[Photo] [nvarchar](20) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductName]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductName](
	[IdProductName] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductName] PRIMARY KEY CLUSTERED 
(
	[IdProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[IdUnitOfMeasure] [int] IDENTITY(1,1) NOT NULL,
	[UnitOfMeasureName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[IdUnitOfMeasure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.01.2026 11:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserFullName] [nvarchar](150) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (1, N'Тушь')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (2, N'Гель для бровей')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (3, N'Тени')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (1, N'SIGMA')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (2, N'VIVIENNE SABO')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (3, N'CHANEL')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

INSERT [dbo].[Office] ([IdOffice], [OfficeAddress]) VALUES (1, N'344288, г. Саров, ул. Чехова, 1')
INSERT [dbo].[Office] ([IdOffice], [OfficeAddress]) VALUES (2, N'614164, г.Саров,  ул. Степная, 30')
INSERT [dbo].[Office] ([IdOffice], [OfficeAddress]) VALUES (3, N'394242, г. Саров, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [OrderDate], [OrderDeliveryDate], [OfficeId], [UserId], [Code], [OrderStatusId]) VALUES (1, CAST(N'2022-05-09' AS Date), CAST(N'2022-05-15' AS Date), 25, 4, 611, 1)
INSERT [dbo].[Order] ([IdOrder], [OrderDate], [OrderDeliveryDate], [OfficeId], [UserId], [Code], [OrderStatusId]) VALUES (3, CAST(N'2022-05-11' AS Date), CAST(N'2022-05-17' AS Date), 27, 23, 613, 1)
INSERT [dbo].[Order] ([IdOrder], [OrderDate], [OrderDeliveryDate], [OfficeId], [UserId], [Code], [OrderStatusId]) VALUES (4, CAST(N'2022-05-12' AS Date), CAST(N'2022-05-18' AS Date), 28, 19, 614, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (1, 1, 1, 3)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (2, 1, 2, 3)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (5, 3, 5, 5)
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([IdOrderStatus], [OrderStatusName]) VALUES (1, N'Новый')
INSERT [dbo].[OrderStatus] ([IdOrderStatus], [OrderStatusName]) VALUES (2, N'Завершён')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([IdProduct], [Article], [ProductNameId], [UnitOfMeasureId], [Price], [MaxProductDiscountAmount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [ProductQuantityInStock], [Description], [Photo]) VALUES (1, N'А112Т4', 1, 1, 1400, 30, 1, 1, 1, 4, 6, N'SIGMA BEAUTY sinuosity lash', N'А112Т4.jpg')
INSERT [dbo].[Product] ([IdProduct], [Article], [ProductNameId], [UnitOfMeasureId], [Price], [MaxProductDiscountAmount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [ProductQuantityInStock], [Description], [Photo]) VALUES (2, N'G892T6', 2, 1, 384, 15, 2, 2, 2, 2, 14, N'VIVIENNE SABO HAUTE COUTURE FIXATEUR BROW&LASH FIXING GEL', N'G892T6.jpg')
INSERT [dbo].[Product] ([IdProduct], [Article], [ProductNameId], [UnitOfMeasureId], [Price], [MaxProductDiscountAmount], [ManufacturerId], [SupplierId], [CategoryId], [Discount], [ProductQuantityInStock], [Description], [Photo]) VALUES (3, N'H936R5', 3, 1, 380, 20, 2, 2, 3, 4, 21, N'VIVIENNE SABO BROW ARCADE EYEBROW SHADOW DUO', N'H936R5.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductName] ON 

INSERT [dbo].[ProductName] ([IdProductName], [ProductName]) VALUES (1, N'Тушь для ресниц')
INSERT [dbo].[ProductName] ([IdProductName], [ProductName]) VALUES (2, N'Гель для бровей')
INSERT [dbo].[ProductName] ([IdProductName], [ProductName]) VALUES (3, N'Тени для бровей')
SET IDENTITY_INSERT [dbo].[ProductName] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([IdSupplier], [SupplierName]) VALUES (1, N'Золотое яблоко')
INSERT [dbo].[Supplier] ([IdSupplier], [SupplierName]) VALUES (2, N'Рив Гош')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON 

INSERT [dbo].[UnitOfMeasure] ([IdUnitOfMeasure], [UnitOfMeasureName]) VALUES (1, N'шт.       ')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [RoleId], [UserFullName], [Login], [Password]) VALUES (1, 3, N'Алексеев Владислав Аркадьевич', N'loginDEbct2018', N'Qg3gff')
INSERT [dbo].[User] ([IdUser], [RoleId], [UserFullName], [Login], [Password]) VALUES (2, 1, N'Савельева Евфросиния Арсеньевна', N'loginDEvtg2018', N'ETMNzL')
INSERT [dbo].[User] ([IdUser], [RoleId], [UserFullName], [Login], [Password]) VALUES (3, 3, N'Никонов Мэлс Лукьевич', N'loginDEuro2018', N'a1MIcO')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_ Code]    Script Date: 22.01.2026 11:17:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ Code] ON [dbo].[Order]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Office] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Office] ([IdOffice])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Office]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([IdOrderStatus])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([IdOrder])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([IdManufacturer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductName] FOREIGN KEY([ProductNameId])
REFERENCES [dbo].[ProductName] ([IdProductName])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductName]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_UnitOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitOfMeasure] ([IdUnitOfMeasure])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_UnitOfMeasure]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
